
.icon-shanghai:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-bitcoin:before { content: '\e802'; } /* '' */
.icon-explained:before { content: '\e803'; } /* '' */